<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Daftar Contact</h1>
            <table class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Nomor HP</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                      <% if (contacts.length < 1) { %>
                        <tr>
                          <td colspan="4">
                            <div class="alert alert-danger fw-bold" role="danger">
                              Data contact masih belum ada <br>
                          </div>
                          </td>
                        </tr>
                      <% } else {%>
                      <% contacts.forEach((contact, i) => { %>
                        <tr>
                          <th scope="row"><%= i + 1 %></th>
                          <td><%= contact.name %></td>
                          <td><%= contact.email %></td>
                          <td><a href="/admin/<%= contact._id %>" class="btn btn-primary badge rounded-pill"><i class="bi bi-info-circle"></i> Details</a>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% } %>
        </div>
    </div>
</div>