<nav class="sticky-top">
    <h1>PackPlace</h1>
    <div class="menu">
        <ul>
          <li><a href="/" class="<% if (link == '/') { %> active <% } %>">Home</a></li>
          <li><a href="/features" class="<% if (link == '/features') { %> active <% } %>">Features</a></li>
          <li><a href="/about" class="<% if (link == '/about') { %> active <% } %>">About</a></li>
        </ul>
    </div>

    <div class="acc">
      <!-- Display <768px -->
        <ul class="d-block d-md-none">
          <li class="dropstart">
            <% if(typeof user != 'undefined'){ %>
                  <img src="img/unnamed.png" alt="Profile Picture" class="profile dropdown-toggle" data-bs-toggle="dropdown"><% } 
                else { %> 
                  <img src="img/plainpicture.png" alt="?" class="profile dropdown-toggle" data-bs-toggle="dropdown"> <% }%>            
                    <ul class="dropdown-menu" data-bs-theme="dark">
                      <li><a class="dropdown-item" href="/">Home</a></li>
                      <li><a class="dropdown-item" href="/features">Features</a></li>
                      <li><a class="dropdown-item" href="/about">About</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <% if(typeof user != 'undefined'){ %>
                          <li><a class="dropdown-item" href="https://github.com/zackdesu" target="_blank">About Developer</a></li>
                          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                          <% } 
                else { %> 
                  <li><a class="dropdown-item" href="/login">Log In</a></li>
                  <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                  <% }%>
                    </ul>
          </li>
        </ul>

      <!-- Display <992px -->
      <ul class="d-none d-md-block d-lg-none">
        <li class="dropstart">
          <% if(typeof user != 'undefined'){ %>
                <img src="img/unnamed.png" alt="Profile Picture" class="profile dropdown-toggle" data-bs-toggle="dropdown"><% } 
              else { %> 
                <img src="img/plainpicture.png" alt="?" class="profile dropdown-toggle" data-bs-toggle="dropdown"> <% }%>            
                  <ul class="dropdown-menu" data-bs-theme="dark">
                    <% if(typeof user != 'undefined'){ %>
                        <li><a class="dropdown-item" href="/about">About</a></li>
                        <li><a class="dropdown-item" href="https://github.com/zackdesu" target="_blank">About Developer</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                        <% } 
              else { %> 
                <li><a class="dropdown-item" href="/login">Log In</a></li>
                <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                <% }%>
                  </ul>
        </li>
      </ul>

        <!-- Display >992px -->
              <% if (typeof user != 'undefined') { %>
                <ul class="d-none d-lg-block">
                  <li class="dropstart">
                    <img src="img/unnamed.png" alt="Profile Picture" class="profile dropdown-toggle" data-bs-toggle="dropdown">
                      <ul class="dropdown-menu" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="/about">About</a></li>
                        <li><a class="dropdown-item" href="https://github.com/zackdesu" target="_blank">About Developer</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                      </ul>
                  </li>
                </ul>
                <% } else { %> 
                  <ul class="log-sign">
                    <li>
                      <a href="/login" class="log-in">Log In</a>
                    </li>
                    <li>
                      <a href="/signup" class="sign-up">Sign Up</a>
                    </li>
                  </ul>
                  <%}%>
    </div>
</nav>