*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.profile{
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 80);
    padding: 20px 0;
    color: white;
    margin-bottom: 20px;
}

ul{
    margin-bottom: 0;
}

.menu ul{
    display: flex;
    justify-content: space-between;
}

.menu li{
    margin: 0 20px;
}

li a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
    text-align: center;
}

.acc ul{
    display: flex;
}

.acc li{
    margin: 0 20px;
}

.sign-up{
    background-color: rgb(172, 64, 82);
    padding: 5px 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.alert ul{
    margin-bottom: 0;
    padding-left: 0;
}