* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: rgb(62, 62, 70);
  color: #ccc;
  padding: 20px 0;
}

.navbar h1 {
  color: white;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation li {
  margin: 0 20px;
}

.nav-active {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
